nav li {
list-style-type:none;
  display: inline;
padding-left: 40px;
}
a:link{
  text-decoration:none;
}
a:hover{
  color:blue;
}
.column{
  float:left;
    padding:10px;
  background-color:blue;
width: 40%;
}
.gallery{
  display:inline-block;
  width 35%
}
