nav li {
  display: inline;
  list-style-type: none;
}

p {
  color: blue;
}

a:link { 
  text-decoration: none;
}

a:hover {
  background-color: blue;
}

.column {
  float: left;
  padding: 10px;
  height: 300px;
  width: 40%;
  background-color:aliceblue;
}
