nav li {
  display: inline;
  list-style-type: none;
}

p {
  color: blue;
}

a:link { 
  text-decoration: none;
}

a:hover {
  background-color: blue;
}

.column {
  float: left;
  padding: 10px;
  height: 300px;
  background-color:aliceblue;
}

.left {
  width: 30%;
}

.right {
  width: 60%;
}
