nav ul {
  clear: both;
}
nav li {
  list-style-type: none;
  display: inline;
  padding-left:40px;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: #32CD32;
}
.column {
  float: left;
  padding; 10px
  background-color: #FF26B7
}width: 40%
.gallery {
  display: inline-block;
  width:33%,
}
