
nav li{
  display: inline;
  list-style-type none;
}
a:link{
  text-decoration:none;
}
a:hover{
  color:green;
}
<style>
.column {
  float: left:
    padding: 10 px;
  width:40%
    </style>
}
.gallery { 
  display: inline-block;
