nav li {
  display: inline;
  list-style-type: none;
  text-color: #ff1414;
}

a:link {
 text-decoration: none;
}

a:hover {
 color: red; 
}

.column {
 float: left;
 height: 300px;
 background-color: #ff6251;
 padding: 10px;
 width: 40%;
}

.Movie {
  background-color: red;
  text-color: white;
  display: inline-block;
  width: 20%;
}

.Poster {
  width: 20%;
  border-wieght: 10px;
}


