nav li {
  list-style-type: none;
  deisplay: inline;
  padding- left: 40px;
}
a:link{
  text-decoration:none;
}
a:hover{
  color: green;
}
.column {
  float: left;
  padding: 10px;
  background-color: blue;
 witdh: 40%,
}
